<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="stylesheet" type="text/css" href="css/page.css"/>
        <title>Ryan McIntyre</title>        
    </head>
    
    <body>
        <div class="splashContainer">
           <!-- <img src="/images/splashMedium.png"> -->
            <div class="titleMain">Ryan McIntyre</div>>
        </div>
        <!-- page container -->
        <div class="grid">
            <div class="image">
                <img src="/images/profile.jpg" class="profileimage">
                <div class="name">Ryan McIntyre</div>
                <div class="about"> New grad looking for entry level software engineer position</div>
            </div>
           
            <div class="title-image"></div>
            <!-- make the rest a grid? -->
            <div class="section-head">
                    <div>Education</div>
            </div>
            <div class="education">
                    <h2>Education</h2>
                    <div>University of North Carolina - Wilmington</div>
                    <div>Bachelor's in Science Computer Science</div>
                    <div>Concentration Digital Arts</div>
                    <div>GPA: 3.5</div>
            </div>
            <div class="section-head">
                    <div>Experience</div>
                </div>
            <div class="experience"> 
                <div>
                    <h3>GE Hitachi</h3>
                    <p>Software Developer Intern</p>
                </div>
            </div>
            
            <div class="section-head">
                    <div>Projects</div>
            </div>
            <div class="projects">  <!-- grid?-->
                <div class="projects-grid">
                    <div>
                        <h3>Personal Website  - rrmcinty.github.io</h3>
                        <div>HTML</div>
                        <div>CSS</div>
                        <div>next.js</div>
                    </div>
                    <div>
                        <h3>CSC 450 Final Project - agtodi.com</h3>
                        <div>HTML</div>
                        <div>CSS</div>
                        <div>PHP</div>
                        <div>SQL</div>
                    </div>
                    <div>
                        <h3>Seahawk Tours - android application</h3>
                        <div>Java</div>
                        <div>Android Studio</div>
                    </div>
                    <div>project 4</div>
                </div>
                
            </div>
            
            <div class="section-head">
                <div>Skills</div>
            </div>
            <div class="skills">
                <div>Java</div>
                <div>Python</div>
            </div>
            
            <div class="section-head">
                <div>Future learning</div>
            </div>
            <div class="future">  
                <div>Finance web application</div>
                <div>Sports viewer</div>
            </div>
        </div>

     
        
        <!-- include footer with ejs -->
    </body>
</html>