<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/page.css"/>
        <!-- include header here with ejs-->
    </head>
    <body>
       
        
        <!-- include footer with ejs -->
    </body>
</html>